// Specific CSS for your home-page
.home-container {
  width: 90%;
  margin: 32px auto;
}

.home-div-l {
  text-align: left;
}

.home-div-l h1 {
  color: black;
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.home-div-l h2 {
  color: black;
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.home-div-l .dark-grey {
  font-weight: 300;
}

.home-div-l .left-bar {
  position: relative;
}

.home-div-l .left-bar:before {
  content: '';
  position: absolute;
  top: 9px;
  left: -16px;

  border-left-width: 12px;
  border-left-style: solid;
}

h1 .left-bar:before {
  height: 4rem;
}

h2 .left-bar:before {
  height: 2.5rem;
}

.home-div-l .left-bar-orange:before {
  border-left-color: $orange;
}

.home-div-l .left-bar-blue {
  &:before {
    border-left-color: $dark-blue;
  }

  &:after {
    transition: width 0.2s linear;
    content: '';
    position: absolute;
    top: 9px;
    left: -16px;
    width: 0%;
    height: 2.5rem;
    background-color: $dark-blue;
    z-index: -1;
  }

  &:hover {
    color: white;
  }

  &:hover:after {
    top: 4px;
    width: calc(100% + 32px);
    height: calc(2.5rem + 10px);
  }
}


.home-div-r {
}
