<h1>Star Battles: <%= @star_battle.name %></h1>

<br>

<%= @star_battle.intro %>
<p>Stars per row/col/cage: <% @star_battle.stars.times do %><i class="fas fa-star yellow-txt"></i><% end %></p>

<table id="puzzle-grid" draggable="false"
  <%= "data-board=\"#{@star_battle.board}\" data-stars=\"#{@star_battle.stars}\"" %>
>
  <tbody id="board" draggable="false"></tbody>
</table>

<br>

<ul>
  <li id="check-grid" class="btn btn-orange">Check answer</li>
  <li id="clear-grid" class="btn btn-blue">Clear grid</li>
</ul>

<%= javascript_pack_tag 'puzzles/star_battle_show' %>
