<div class="line-break"></div>

<footer>
  <p>2019-2020 · Rob Owen King</p>

  <% if current_page?(root_path) %>
    <p>Programming language icons from <a href="https://konpa.github.io/devicon/">Devicon</a> under the <a href="https://github.com/konpa/devicon/blob/master/LICENSE">MIT License</a></p>
  <% end %>
</footer>
