<nav>
  <!--h2><a href="../../index.html">Rob Owen King</a></h2-->
  <div>
    <h2><%= link_to "Rob Owen King", root_path %></h2>
  </div>
  <div class="navbar-right">
    <%= link_to "About Me", root_path %>
    ·
    <%= link_to "Portfolio", portfolio_path %>
  </div>
<!--   <div class="navbar-right">
    <a href="../../index.html">About Me</a>
    ·
    <a href="../portfolio.html">Portfolio</a>
  </div> -->
</nav>

<div class="line-break navbar-line"></div>
