<% content_for :meta_title, "Patterns in the Hanzi, by Rob Owen King" %>
<% content_for :meta_description, "Open-source Hanzi (Chinese character) data including etymology, translations and more. A ReactJS app by Rob Owen King." %>

<h1>Patterns in the Hanzi</h1>

<div>
  <%= image_tag("screenshots/react_hanzi_patterns_3.jpg", class: "img-circle-lg", alt: "Screenshot of the app.") %>
</div>

<br>

<%= link_to "Go to app", "https://robowenking.github.io/react_hanzi_patterns/", class: "btn btn-orange", target: "_blank" %>

<%= link_to("https://github.com/RobOwenKing/react_hanzi_patterns", class: "btn btn-blue", target: "_blank") do %>
  View code <i class="fab fa-github"></i>
<% end %>

<div class="line-break"></div>

<div class="card-1-2">
  <h4>The idea</h4>
  <p>I'd been learning React and wanted a simple first project to put my skills to the test; my girlfriend had started learning Korean. I saw a great opportunity to bring these two together, creating an app to practice Hangul, the Korean Alphabet.</p>
</div>
