<% content_for :meta_title, "Movida-19, by Rob Owen King" %>
<% content_for :meta_description, "After my coding bootcamp, I wanted to build another full-stack site to prove I could now do so by myself." %>

<h1>Movida-19</h1>

<div>
  <%= image_tag("screenshots/movida.jpg", class: "img-circle-lg", alt: "Screenshot of page to add location poll options on Quedem") %>
</div>

<br>

<%= link_to "Go to website", "https://www.movida-19.com/", class: "btn btn-orange", target: "_blank" %>

<div class="line-break"></div>

<div class="card-1-2">
  <h4>The idea</h4>
  <p>With the end of my bootcamp I wanted to build my own full-stack site as practice and work on a project more relevant than <%= link_to "Quedem", quedem_path %> to the times we were living in. Movida was based on a suggestion from my girlfriend: it allows users to post offers of or requests for help during lockdown and to see posts geotagged as being close to their own address to allow neighbours to help and support each other.</p>
</div>

<div class="card-1-2">
  <h4>What I learnt</h4>
  <div>
    <ul class="margin-top-16">
      <li>I could do it - Although I was confident I had learnt a lot during the course, it was still very rewarding to actively prove I could create and deploy a full Rails app by myself, without any help from my tutors and colleagues.</li>
      <li>Don't repeat work others have already done - It's not cheating or stealing to use APIs and Gems freely shared online for people to use. Indeed, the wrong thing to do is waste your time trying to duplicate their work.</li>
    </ul>
  </div>
</div>
