<h1>Movida-19</h1>

<div>
  <%= image_tag("screenshots/movida.jpg", class: "img-circle-lg", alt: "Screenshot of page to add location poll options on Quedem") %>
</div>

<%= link_to "Go to website", "https://www.movida-19.com/", class: "btn btn-orange" %>

<div class="line-break"></div>

<div class="card-1-2">
  <h4>The idea</h4>
  <p>With the end of my bootcamp I wanted to build my own full-stack site as practice and work on a project more relevant than <%= link_to "Quedem", quedem_path %> to the times we were living in. Movida was based on a suggestion from my girlfriend: it allows users to post offers of or requests for help during lockdown and to see posts geotagged as being close to their own address to allow neighbours to help and support each other.</p>
</div>

<div class="card-1-2">
  <h4>What I learnt</h4>
  <div>
    <ul class="margin-top-16">
      <li>Lesson one</li>
      <li>Lesson two</li>
    </ul>
  </div>
</div>
