<% content_for :meta_title, "Quedem, by Rob Owen King (and coursemates)" %>
<% content_for :meta_description, "My bootcamp final project. Each of your friends is on different social media; each of them has a different schedule and ideas for what you can all do together. Solve both these problems at once with Quedem." %>
<% content_for :meta_image, "screenshots/quedem_1.jpg" %>

<h1>Quedem</h1>

<div>
  <%= image_tag("screenshots/quedem_1.png", class: "img-circle-lg", alt: "Screenshot of page to add location poll options on Quedem") %>
</div>

<br>

<%= link_to("https://github.com/RobOwenKing/quedem", class: "btn btn-orange") do %>
  View on Github <i class="fab fa-github"></i>
<% end %>

<div class="line-break"></div>

<div class="iframe-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ssrKdoTof2I?start=1800" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>Video of my pitch of Quedem during our remote demo day</p>

<div class="line-break"></div>

<div class="card-1-2">
  <h4>The idea</h4>
  <p>It can be surprisingly hard to arrange to meet up with friends. Not everyone's on Facebook any more, someone's always bad at checking WhatsApp... When you do talk, you get a long thread of suggestions and ideas: you can't keep track of what's most popular and what the final decision was. Quedem is the solution to this problem.</p>
</div>

<div class="card-1-2">
  <h4>How it works</h4>
  <p>A user creates an event, giving it a name and a description. Next, they can add choices of date/time and location for their friends to vote on. The website then gives them a link to an event page to share with their friends, where they can vote for dates and locations.</p>
</div>

<div class="card-1-2">
  <h4>Making of</h4>
  <p>I pitched the idea for Quedem in February 2020 during my coding bootcamp, and it was picked as the final project for a team of three of us. By the time we came to make it in late March, however, we were in lockdown in two different countries and time zones.</p>
</div>

<div class="card-1-2">
  <h4>What I learnt</h4>
  <div>
    <ul class="margin-top-16">
      <li>Delegation and communication are key - Particularly when working remotely. We ended up talking on Zoom constantly to resolve conflicts and to discuss how to tackle features that impigned on shared areas, despite having tried to dole out tasks that wouldn't tread on each others' toes.</li>
      <li>Plan well, but be flexible - To work effectively and independently but towards a common goal, first you need to define that common goal and what everyone is to contribute. Sometimes technology or new ideas will push you to change tack: that's fine, but the whole team needs to be brought up to speed to avoid later clashes.</li>
      <li>Watch out for scope creep - We had all sorts of ideas for extra features we could add, but only two weeks to make the project. And of course everything takes longer than expected. Focus on a well-delimited <abbr title="Minimum Viable Product">MVP</abbr> is key.</li>
    </ul>
  </div>
</div>
