<h1>Quedem</h1>

<div>
  <%= image_tag("screenshots/quedem_1.png", class: "img-circle-lg", alt: "Screenshot of page to add location poll options on Quedem") %>
</div>

<%= link_to "Go to website", "https://www.goquedem.com/", class: "btn btn-orange" %>

<div class="line-break"></div>

<div class="card-1-2">
  <h4>The idea</h4>
  <p>It can be surprisingly hard to arrange to meet up with friends. Not everyone's on Facebook any more, someone's always bad at checking WhatsApp... When you do talk, you get a long thread of suggestions and ideas: you can't keep track of what's most popular and what the final decision was. Quedem is the solution to this problem.</p>
</div>

<div class="card-1-2">
  <h4>Making it</h4>
  <p>I pitched the idea for Quedem in February 2020 during my coding bootcamp, and it was picked as the final project for a team of three of us. By the time we came to make it in late March, however, we were in lockdown in two different countries and time zones.</p>
</div>
