<% content_for :meta_title, "Up to Speed: Korean Alphabet, by Rob Owen King" %>
<% content_for :meta_description, "I was learning ReactJS; my girlfriend was learning Korean. This is the quiz app that came out of that." %>
<% content_for :meta_image, "screenshots/react_korean.jpg" %>

<h1>Up to Speed: Korean Alphabet</h1>

<div>
  <%= image_tag("screenshots/react_korean.jpg", class: "img-circle-lg", alt: "Screenshot of the app. A user is filling in the romanisation of the given Korean word, previous answers listed below.") %>
</div>

<br>

<%= link_to "Go to app", "https://robowenking.github.io/react_read_it/", class: "btn btn-orange" %>

<%= link_to("https://github.com/RobOwenKing/react_read_it", class: "btn btn-blue") do %>
  View code <i class="fab fa-github"></i>
<% end %>

<div class="line-break"></div>

<div class="card-1-2">
  <h4>The idea</h4>
  <p>I'd been learning React and wanted a simple first project to put my skills to the test; my girlfriend had started learning Korean. I saw a great opportunity to bring these two together, creating an app to practice Hangul, the Korean Alphabet.</p>
</div>
