<h1>Clocks</h1>
<p>When I was teaching English, a hobby of one of my student's dads was building new, creative clocks, so the germ of this idea has been rattling around in my head for years. I was also inspired by <%= link_to "one of the great Daniel Shiffman's coding challenges", "https://www.youtube.com/watch?v=E4RyStef-gY" %>.</p>

<div class="line-break"></div>

<h2>The space between</h2>

<canvas id="between"></canvas>

<div class="line-break"></div>

<h2>If the Romans had gone digital</h2>

<div id="roman"></div>

<div class="line-break"></div>

<h2>Even a stopped clock...</h2>

<div id="wrong"></div>

<%= javascript_pack_tag 'projects/clocks' %>
