<h1>Clocks</h1>
<p>When I was teaching English, one hobby of one of my student's dads was building new, creative clocks.</p>

<div class="line-break"></div>

<h2>Between</h2>

<canvas id="between"></canvas>

<div class="line-break"></div>

<h2>Orders of magnitude</h2>

<canvas id="orders"></canvas>

<%= javascript_pack_tag 'projects/clocks' %>
