<% content_for :meta_title, "Flags Challenges, by Rob Owen King" %>
<% content_for :meta_description, "How good are you at flags? Challenge yourself here." %>
<% content_for :meta_image, "screenshots/flags_quiz.jpg" %>

<h1 id="title">Flags Challenges</h1>

<div id="intro">
  <label for="challenge">Pick a challenge: </label>
  <select name="challenge" id="challenge-select"></select>
  <br>
  <br>
  <div class="btn btn-orange" id="start">Start</div>
</div>

<div id="game" style="display: none">
  <div id="question">
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_Andorra.svg" width="250" id="prompt">
    <p>is the flag of...</p>
  </div>
  <br>
  <input type="text" id="answer">
  <br>
  <br>
  <div class="btn btn-blue" id="skip">Don't know</div>
  <br>
  <br>
  You've got <span id="game-score"></span> / <span id="game-total"></span>
</div>

<div id="results" style="display: none">
  Well done! You got <strong><span id="results-score"></span> / <span id="results-total"></span></strong> correct in <strong id="time"></strong>.
  <br>
  <br>
  <div class="btn btn-orange" id="restart">Try another challenge</div>
</div>

<div id="skipped"></div>

<%= javascript_pack_tag 'projects/flags_quiz' %>
