<h1>G_PS</h1>

<div id="start">
  <div class="btn btn-orange">Start new round</div>
  <h3>How it works</h3>
  <p>You'll be given a letter pattern, like G A _ _, and then have to think of as many English words as you can which fit that pattern. In this case, you could have "gaps", "game", "gala", "gate", "gawk", etc. You get points for every correct word, more points the quicker you answer.</p>
</div>

<div id="game" hidden>
  <div id="pattern">G___</div>

  <br>

  <input type="text" id="input">

  <br>
  <br>

  <div>
    <label for="countdown">Time left:</label>
    <progress id="countdown" max="10" value="0">0</progress>
  </div>

  <div id="answers"></div>
</div>

<div id="game-over" hidden>
  <h4>Game Over</h4>
  <h3>You scored <span id="score"></span>!</h3>
  <p>Possible answers: <span id="all-answers"></span></p>
</div>

<%= javascript_pack_tag 'projects/gaps' %>
