<h1>G_PS</h1>

<div id="start" class="btn btn-orange">Start new round</div>

<div id="game" hidden>
  <div id="pattern">G___</div>
  <input type="text" id="input">

  <div>
    <label for="countdown">Time left:</label>
    <progress id="countdown" max="10" value="0">0</progress>
  </div>

  <div id="answers"></div>
</div>

<div id="game-over" hidden>
  <h4>Game Over</h4>
  <h3>You scored <span id="score"></span>!</h3>
  <p>Possible answers: <span id="all-answers"></span></p>
</div>

<%= javascript_pack_tag 'projects/gaps' %>
