<h1>US States Challenge</h1>

<div class="btn btn-orange" id="start">Start</div>

<div id="game" style="display: none">
  <div id="question">The <strong id="category">capital</strong> of <strong id="prompt">Alabama</strong> is...</div>
  <br>
  <input type="text" id="answer">
</div>

<%= javascript_pack_tag 'projects/map_quiz' %>
