<h1>US States Challenge</h1>

<div id="question">The <strong id="category">capital</strong> of <strong id="prompt">Alabama</strong> is...</div>
<br>
<input type="text" id="answer">


<%= javascript_pack_tag 'projects/map_quiz' %>
