<% content_for :meta_title, "Flags Challenges, by Rob Owen King" %>
<% content_for :meta_description, "How good are you at flags? Challenge yourself here." %>
<% content_for :meta_image, "screenshots/flags_quiz.jpg" %>

<h1 id="title">Maps Challenges</h1>

<!--
<div id="intro">
  <label for="challenge">Pick a challenge: </label>
  <select name="challenge" id="challenge-select"></select>
  <br>
  <br>
  <div class="btn btn-orange" id="start">Start</div>
</div>
-->

<div id="game">
  <div>Where is <strong id="prompt"></strong>?</div>
  <br>
  <div id="map"></div>
  <br>
  <div class="btn btn-blue" id="skip">Don't know</div>
  <br>
  <br>
  You've got <span id="score"></span> / <span id="total"></span>
</div>

<div id="results" style="display: none">
  Well done! You got <strong><span id="results-score"></span> / <span id="results-total"></span></strong> correct in <strong id="time"></strong>.
  <br>
  <br>
  <div class="btn btn-orange" id="restart">Try another challenge</div>
</div>

<div id="skipped"></div>

<p class="small-text">All maps from <%= link_to "simplemaps.com", "https://simplemaps.com/" %>.</p>

<%= javascript_pack_tag 'projects/maps_quiz' %>
