<h1>Money Explaininator</h1>

<p>Explain</p>

<input type="number" id="input-value" value="100">
<select id="input-currency"></select>

<p>to me in terms of</p>

<select id="output-currency"></select>
<span>and</span>
<input id="output-country" list="countries" placeholder="Pick a country"></select>
<datalist id="countries"></datalist>

<div class="line-break"></div>

<div class="large-text">
  <span id="input">0</span> = <span id="output">0</span>
</div>

<div>That's equivalent to <span class="large-text" id="per-person"></span> per person in <span class="large-text" id="per-person-country"></span></div>

<%= javascript_pack_tag 'projects/money' %>
