<h1>Money Explaininator</h1>

<p>Explain</p>

<input type="number" id="input-value">
<select id="input-currency"></select>

<p>to me in terms of</p>

<select id="output-currency"></select>
<span>and</span>
<select id="output-country"></select>

<div class="line-break"></div>

<span id="input">0</span> = <span id="output">0</span>

<%= javascript_pack_tag 'projects/money' %>
