<% content_for :meta_title, "Money Explaininator, by Rob Owen King" %>
<% content_for :meta_description, "A tool to convert from one currency to another and from incomprehensible amounts of money to graspable concepts." %>
<% content_for :meta_image, "screenshots/money.jpg" %>

<h1>Money Explaininator</h1>

<p>Explain</p>

<input type="number" id="input-value" value="100">
<select id="input-currency"></select>

<p>to me in terms of</p>

<select id="output-currency"></select>
<span>and</span>
<input id="output-country" list="countries" placeholder="Pick a country"></select>
<datalist id="countries"></datalist>

<div class="line-break"></div>

<div class="large-text">
  <span id="input">0</span> = <span id="output">0</span>
</div>

<br />

<div>That's equivalent to <span class="large-text" id="per-person"></span> per person in <span class="large-text" id="per-person-country"></span></div>

<div class="line-break"></div>

<p class="small-text">Conversion rates from the European Central Bank via the <%= link_to "Exchange rates API", "https://exchangeratesapi.io/" %>.</p>
<p class="small-text">Population data from <%= link_to "here", "https://github.com/samayo/country-json" %> under the <%= link_to "MIT License", "https://github.com/samayo/country-json/blob/master/LICENSE" %>.</p>

<%= javascript_pack_tag 'projects/money' %>
