<% content_for :meta_title, "Regex Challenges, by Rob Owen King" %>
<% content_for :meta_description, "Want to practice your Regex skills but bored of the same old phone numbers and emails? Come try these challenges." %>
<% content_for :meta_image, "screenshots/regex_challenges.jpg" %>

<h1>Regex Challenges</h1>
<h2 id="challenge-name"></h2>
<div id="challenge-description"></div>

<br>

<div class="large-text">/<span id="regex" contenteditable="true"></span>/<span id="flags" contenteditable="true"></span></div>
<div id="test-strings"></div>

<br>

<label for="challenge-select">Select challenge:</label>
<select name="challenges" id="challenge-select"></select>

<%= javascript_pack_tag 'projects/regex' %>
