<h1>Regex Challenges</h1>
<h2 id="challenge-name"></h2>

<p>/<span id="regex" contenteditable="true"></span>/<span id="flags" contenteditable="true"></span></p>

<div id="test-strings"></div>

<br>

<label for="challenge-select">Select challenge:</label>

<select name="challenges" id="challenge-select"></select>

<%= javascript_pack_tag 'projects/regex' %>
