<h1>Regex Challenges</h1>

<p>/<span id="regex" contenteditable="true">Your regex here</span>/<span id="flags" contenteditable="true">Flags</span></p>

<div id="test-strings"></div>

<%= javascript_pack_tag 'projects/regex' %>
