<div class="container">
  <h1>Tetris</h1>

  <ul>
    <li id="dark" class="btn btn-blue btn-active">Dark mode</li>
    <li id="light" class="btn btn-orange">Light mode</li>
  </ul>

  <canvas id="tetris"></canvas>

  <%= javascript_pack_tag 'projects/tetris' %>
</div>
