<div class="container">
  <h1>Tetris</h1>

  <ul>
    <li id="dark" class="btn btn-blue btn-active">Dark mode</li>
    <li id="light" class="btn btn-orange">Light mode</li>
  </ul>

  <p id="play" class="btn btn-orange">Start new game</p>

  <p>Score: <span id="score">0</span></p>

  <canvas id="tetris"></canvas>

  <%= render 'tetris_scores/form', tetris_score: @tetris_score %>

  <%= javascript_pack_tag 'projects/tetris' %>
</div>
