<h1>Transitions</h1>

<p>
  This is a quick test to compare how different values of the
  <code>transition-timing-function</code>
CSS property affect a simple transition. Read more on <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/transition-timing-function">transitions at MDN</a>.
</p>

<div class="transition">
  <p style="transition: all 2s ease;">Ease</p>
  <p style="transition: all 2s ease-in;">Ease-In</p>
  <p style="transition: all 2s ease-out;">Ease-Out</p>
  <p style="transition: all 2s ease-in-out;">Ease-In-Out</p>
  <p style="transition: all 2s linear;">Linear</p>
  <p style="transition: all 2s step-start;">Step-Start</p>
  <p style="transition: all 2s step-end;">Step-End</p>
</div>
