<h1>Transitions</h1>

<p>
  This is a quick test to compare how different values of the
  <code>transition-timing-function</code>
CSS property affect a simple transition. Read more on <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/transition-timing-function">transitions at MDN</a>.
</p>

<form class="fm-transitions">
  <label for="duration"><code>transition-duration</code>:</label>
  <input id="duration" type="number" min="0" value="2" step="0.1">
  <br>
  <label for="delay"><code>transition-delay</code>:</label>
  <input id="delay" type="number" min="0" value="0" step="0.1">
</form>

<div class="transition">
  <p style="transition-timing-function: ease;">Ease</p>
  <p style="transition-timing-function: ease-in;">Ease-In</p>
  <p style="transition-timing-function: ease-out;">Ease-Out</p>
  <p style="transition-timing-function: ease-in-out;">Ease-In-Out</p>
  <p style="transition-timing-function: linear;">Linear</p>
  <p style="transition-timing-function: step-start;">Step-Start</p>
  <p style="transition-timing-function: step-end;">Step-End</p>
</div>

<%= javascript_pack_tag 'projects/transitions' %>
