.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  padding: 8px 16px;
  color: white;
  display: inline-block;
  border-radius: 3px;
  margin: auto 4px;
  cursor: pointer;
  opacity: 0.8;
}

a.btn {
  text-decoration: none;
}

.btn:hover {
  opacity: 1;
  text-decoration: underline;
}

.btn-orange {
  background-color: $orange;
  border: solid 2px $orange;
}

.btn-blue {
  background-color: $dark-blue;
  border: solid 2px $dark-blue;
}

.btn-active {
  border-style: inset;
  opacity: 0.9;
}

.btn-home {
  margin-bottom: 8px;
}

.transition p {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  padding: 8px 16px;
  margin: 8px auto;
  width: 150px;
  color: white;
  background-color: $orange;
  border-radius: 3px;
  opacity: 0.8;
}

.transition:hover p {
  width: 250px;
  background-color: $dark-blue;
}
