.btn {
  padding: 8px 16px;
  /*background-color: #F57E2A;*/
  color: white;
  display: inline-block;
  border-radius: 3px;
  margin: auto 4px;
  cursor: pointer;
  opacity: 0.8;
}

a.btn {
  text-decoration: none;
}

.btn:hover {
  opacity: 1;
  text-decoration: underline;
}

.btn-orange {
  background-color: $orange;
  border: solid 2px $orange;
}

.btn-blue {
  background-color: $dark-blue;
  border: solid 2px $dark-blue;
}

.btn-active {
  border-style: inset;
  opacity: 0.9;
}
