@import "cards/card-1-2";
@import "cards/card-img-txt";
@import "cards/card-project";

.card {
  opacity: 0.8;
  transition: opacity 0.2s;
}

.card:hover {
  opacity: 1;
}

.line-break {
  margin: 30px auto 20px auto;
  height: 1px;
  width: 80%;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.navbar-line {
  margin-top: 10px;
}
