.img-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.img-circle-lg {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  object-fit: cover;
}

.img-small {
  width: 28px;
  display: inline;
}
