#puzzle-grid {
  border-collapse: collapse;
  margin: auto;
}

#puzzle-grid th, td {
  height: 32px;
  width: 32px;
  border: 2px solid #CCCCCC;
  position: relative;
}

.clickable {
  cursor: pointer;
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.red {
  background-color: red;
  color: white;
}

.border-top {
  border-top-color: black;
}

.border-right {
  border-right-color: black;
}

.border-bottom {
  border-bottom-color: black;
}

.border-left {
  border-left-color: black;
}

.q-number {
  font-size: 10px;
  position: absolute;
  left: 2px;
  top: 2px;
}
