#puzzle-grid {
  border-collapse: collapse;
  margin: auto;
}

#puzzle-grid th, td {
  height: 40px;
  width: 40px;
  border: 2px solid #CCCCCC;
}

.clickable {
  cursor: pointer;
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.red {
  background-color: red;
  color: white;
}

.border-top {
  border-top-color: black;
}

.border-right {
  border-right-color: black;
}

.border-bottom {
  border-bottom-color: black;
}

.border-left {
  border-left-color: black;
}
