#puzzle-grid {
  border-collapse: collapse;
  margin: auto;
}

#puzzle-grid th, td {
  height: 40px;
  width: 40px;
  border: 1px solid #CCCCCC;
}

#puzzle-grid td {
  background-color: black;
  opacity: 1;
  cursor: pointer;
}
