<h1>The First Ever Crossword</h1>

<p>The invention of the modern crossword, although debated, is usually credited to a journalist called Arthur Wynne with the publication of the below puzzle on 21st December 1913 in New York World. The clue numbering was different, and the word "FUN" was given as a start in the second row, but otherwise it was as given.</p>

<table id="puzzle-grid" data-puzzle="first">
  <tbody></tbody>
</table>

<br>

<div id="question"></div>

<br>

<div class="btn btn-orange" id="check-grid">Check answer</div>

<%= javascript_pack_tag 'projects/crosswords' %>
