<% content_for :meta_title, "The First Ever Crossword, appified by Rob Owen King" %>
<% content_for :meta_description, "Play what is generally considered the first ever modern crossword, invented by Arthur Wynne in 1913." %>
<% content_for :meta_image, "screenshots/crosswords_first.jpg" %>

<h1>The First Ever Crossword</h1>

<p>The invention of the modern crossword, although debated, is usually credited to a journalist called Arthur Wynne with the publication of the below puzzle on 21st December 1913 in New York World.</p>
<p>The numbering system he used and some of the clues wouldn't fly in a modern publication, and the original grid had one word given in the second row ('FUN'), but otherwise it's still a fun challenge.</p>

<table id="puzzle-grid" data-puzzle="first">
  <tbody></tbody>
</table>

<br>

<div id="question"></div>

<br>

<div class="btn btn-orange" id="check-grid">Check answer</div>

<%= javascript_pack_tag 'projects/crosswords' %>
