<h1>Akari (aka Light Up)</h1>

<br>

<ul>
  <li id="btn-enter" class="btn btn-blue btn-active">Enter mode</li>
  <li id="btn-solve" class="btn btn-blue">Solve mode</li>
</ul>

<ul>
  <li class="list-input">
    <label for="size">Rows/Cols:</label>
    <input id="size" type="number" min="4" value="6">
  </li>
</ul>

<table id="puzzle-grid" draggable="false">
  <tbody id="board" draggable="false"></tbody>
</table>


<%= javascript_pack_tag 'puzzles/akari' %>
