<h1>Hip</h1>

<p>Hip is a game invented by the great Martin Gardner in the 60s. Its name comes from its objective: to avoid squares. Gardner's pun - don't blame me!</p>
<p>Game version: Two players take it in turn placing pieces of their own colour on the grid. The loser is the first one to place a stone that makes the fourth corner of a square, be it parallel to the board edges or at an angle.</p>
<p>Puzzle version: Try to find a drawn position (playing the two colours in turns until every square is filled). To save wasting your time, this only works for 6x6 boards or smaller.</p>

<label for="rows">Rows:</label>
<input id="rows" class="narrow-input" type="number" min="2" value="5">

<label for="cols">Cols:</label>
<input id="cols" class="narrow-input" type="number" min="2" value="5">

<p><span id="turn-colour"></span>'s turn</p>

<table id="puzzle-grid">
  <tbody id="board"></tbody>
</table>

<span id="undo">Undo</span>
<span id="reset">Reset</span>

<%= javascript_pack_tag 'puzzles/hip' %>
