<h1>Star Battle Solver</h1>

<br>

<ul>
  <li id="btn-enter" class="btn btn-blue btn-active">Enter mode</li>
  <li id="btn-solve" class="btn btn-blue">Solve mode</li>
</ul>

<ul>
  <li class="list-input">
    <label for="size">Rows/Cols:</label>
    <input id="size" type="number" min="4" value="6">
  </li>
</ul>

<ul>
  <li class="list-input">
    <label for="stars">Stars per row/col/cage:</label>
    <input id="stars" type="number" min="1" value="1">
  </li>
</ul>

<table id="puzzle-grid" draggable="false">
  <tbody id="board" draggable="false"></tbody>
</table>

<br>

<ul>
  <li id="clear-cages" class="btn btn-blue">Clear cages</li>
  <li id="clear-stars" class="btn btn-blue">Clear stars</li>
  <li id="brute-force" class="btn btn-orange">Brute force</li>
</ul>

<%= javascript_pack_tag 'puzzles/star_battle' %>
