<% content_for :meta_title, "Star Battle Creator and Solver, by Rob Owen King" %>
<% content_for :meta_description, "Star Battles are a great puzzle - simple rules leading to fascinating logical consequences. This is a tool for you to design your own." %>
<% content_for :meta_image, "screenshots/star_battle.jpg" %>

<h1>Star Battle Solver</h1>

<br>

<ul>
  <li id="btn-enter" class="btn btn-blue btn-active">Enter mode</li>
  <li id="btn-solve" class="btn btn-blue">Solve mode</li>
</ul>

<ul>
  <li class="list-input">
    <label for="size">Rows/Cols:</label>
    <input id="size" type="number" min="4" value="6">
  </li>
</ul>

<ul>
  <li class="list-input">
    <label for="stars">Stars per row/col/cage:</label>
    <input id="stars" type="number" min="1" value="1">
  </li>
</ul>

<table id="puzzle-grid" draggable="false">
  <tbody id="board" draggable="false"></tbody>
</table>

<br>

<ul>
  <li id="clear-cages" class="btn btn-blue">Clear cages</li>
  <li id="clear-stars" class="btn btn-blue">Clear stars</li>
</ul>
<ul>
  <li id="brute-force" class="btn btn-orange">Brute force solve</li>
</ul>

<%= javascript_pack_tag 'puzzles/star_battle' %>
